html, body {
    /*height: 100%;*/
    min_height: 100vh;
    /*display: flex;*/
    /*flex-direction: column;*/
    padding: 0;
    margin-left: 0.5em;
}

body {
    background-image: url("../img/background.jpg");
}

header {
    display: flex;
    flex-grow: 0;
}

footer {
    flex-grow: 0;
}

.display-result {
    display: flex;
    flex-direction: column;
    min-width: 100vh;
    /*border-style: solid;*/
    /*border-width: 1px;*/
}

.results {
    display: flex;
    margin: 0.3em;
    padding: 0.3em;
    max-height: 300px;
}

#papybot-main-img {
    border-radius: 30%;
    margin: 0;
}

.papybot-result-img {
    margin-right: 5px;
    flex-grow: 0;
    align-self: center;
}

.text-content {
    flex-grow: 2;
    display: flex;
    width: 100px;
    flex-direction: column;
}

.orig-map {
    height: 50vh;
}
.map {
    height: 30vh;
    width: 300px;
    flex-grow: 1;
    align-self: center;
}

.wiki-content {
    overflow-y: scroll;
    overflow-x: hidden;
}

#input {
    resize: none;
    border-radius: 10%;
    border: none;
    padding: 5px;
    margin: 0;
}
