body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

#header {
    /*position: relative;*/
    /*height: 100%;*/
    flex-grow: 0;
    background-color: #86989B;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

#img-logo {
    border: #3A7734 2px solid;
    border-radius: 15%;
}

#header-logo {
    width: 20%;
    margin: auto;
    max-height: 100%;
}

#header-h1 {
    width: 50%;
}

#h1 {
    /*text-align: center;*/
}

#footer {
    background-color: #86989B;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    flex-grow: 0;
}

#alert-msg {
    width: 50%;
    display: none;
    margin: 1vh 25%;
}

#query-menu {
    margin: 1rem auto;
}

#input {
    height: 120px;
    resize: none;
}

.buttons-h {
    margin-bottom: 0.1rem;
}

#results {
    height: 15rem;
}

#map {
    width: 100%;
    height: 100%;
}

.wiki-results {
    height: 100%;
    overflow: auto;
}

.results-card {
    margin-top: 1rem;
    max-width: 100% !important;
}

.wiki-saved-link {
    margin-bottom: 0.5rem;
}

.google-maps-search {
    margin-bottom: 0.5rem;
    margin-left: 0.2rem;
}

.card-img {
    max-height: 20rem;
    max-width: 15rem;
    margin: auto;
    width: auto !important;
    height: auto;
}

.card-text {
    overflow: auto;
    max-height: 10rem;
}

.no-gutters {
    width: 100% !important;
}

.saved-thumbnail {
    display: flex;
}

/* TODO: Fix margin top on low sizes */
@media (max-width: 600px) {
    #header-logo {
        display: block !important;
        margin: 0 auto !important;
    }

    #header-h1 {
        display: none;
    }

}

@media (max-width: 575.98px) {
    #buttons {
        margin: auto 1rem;
    }

}

@media (max-width: 767.98px) {
    #results {
        height: 30rem;
    }

    .wiki-results {
        height: 40%;
    }

    .map {
        height:60% !important;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .results-card:first-child {
        margin-top: 2rem;
    }
}
