<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
</head>

<body>
    <form>
        <p>
            <label for="input">Votre recherche :</label>
            <input type="text" id="input" name="input" required>
            <input type="submit" value="Go PapyBot !">
        </p>

    </form>

    <div id="display-result">
    </div>

    <div id="map"></div>

    <script src="{{ url_for('static', filename='js/call_parser.js') }}"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}">
    </script>
</body>

</html>
