<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Page de test pour nouvelle disposition</title>

  <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

  <header id="header" class="container">
      <div class="row">

        <div id="header-logo" class="col-xs-2">
          <img id="img-logo" src="{{ url_for('static', filename='img/papybot150x150.jpg') }}" alt="Papybot-logo">
        </div>

        <div class="col-xs-7" id="header-h1">
          <h1>PAPYBOT P7</h1>
          <h3>Le robot au mille et une histoires</h3>
        </div>
      </div>
  </header>

  <main>
    <div id="alert-msg" class="alert" role="alert"></div>

    <div id="query-menu" class="container query-menu-h">
      <div class="row">

        <div class="col-md-8 form-group">
          <label class="sr-only" for="input">Demandez un renseignement à Papybot ici</label>
          <textarea class="form-control z-depth-1" id="input" rows="3" placeholder="Votre recherche ici..."></textarea>
        </div>

        <div id="buttons" class="col-md-4">
          <div class="row">
            <button id="btn-new-search" type="button" class="col-sm-12 btn btn-success buttons-h">Raconte-moi Papybot !</button>
          </div>
          <div class="row">
            <button id="btn-save-search" type="button" class="col-sm-12 btn btn-primary btn-custom buttons-h">Enregistrer</button>
          </div>
          <div class="row">
            <button id="btn-delete-search" type="button" class="col-sm-12 btn btn-danger btn-custom buttons-h">Effacer</button>
          </div>
        </div>

      </div>

      <div id="results" class="row d-none mb-4">
        <div id ="wiki-results" class="col-md-8 wiki-results"></div>
        <div id="map" class="col-md-4 map">
<!--          <div id="map"></div>-->
        </div>
      </div>

      <div id="all-cards"></div>

    </div>
  </main>

  <footer id="footer" class="footer container text-center">
          <div class="row">
            <span id="name" class="mr-3">BERTRAND Quentin</span>
            <a id="github" class="fa-2x mr-1" href="https://github.com/quentin338/Papybot-p7"><i class="fa fa-github" aria-hidden="true"></i></a>
            <a id="linked-in" class="fa-2x" href="https://www.linkedin.com/in/quentin-bertrand-39667a16b"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
          </div>
  </footer>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/call_parser.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>
